*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
 }

 .container{
  background-color: #ffff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 45vh;
 }

 form{
    margin:  1rem 0 1rem 0;
 }

 form button,input,select{
    width: 80%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
 }

 form input{
    border:  1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 1rem;
 }

 .dropdown {
    display: flex;
    justify-content:space-between;
    align-items:center;
 }

.dropdown i{
    margin: 4rem 3rem 3rem 3rem;
    font-size: 1.2rem;
 }

 .select-container img{
    max-width: 2rem;
 }

 .select-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
 }

  .select-container select{
    font-size: 1rem;
    width: auto;
  }

  .msg{
    margin: 2rem 0 2rem 1;
    font-size: 1.2rem;
  }

  form button{
    height: 3rem;
    background-color: lightslategray;
    color: white;
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
  }

  @media screen and (max-width:500px) {
   .container{
  background-color: #ffff;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 43vh;
  width: 40vh; 
   }
   .dropdown {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .dropdown i{
   margin: 1rem ;
   margin-top: 4rem;
   margin-bottom: 3rem;
    font-size: 1rem;
 }
  }